.sidebar {
    width: 270px;
    background: #202123;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    padding: 20px;
    box-sizing: border-box;
}

.sidebar-top{
    display:flex;
    flex-direction:column;
}

.new-chat-btn{

    background:#10a37f;
    color:white;

    border:none;

    padding:12px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    margin-bottom:30px;
}

.new-chat-btn:hover{

    background:#0d8c6d;
}

.history h3{

    margin-bottom:15px;

    color:#ccc;
}

.history-item{

    padding:12px;

    border-radius:8px;

    margin-bottom:10px;

    cursor:pointer;

    transition:.3s;
}

.history-item:hover{

    background:#343541;
}

.login-btn{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#444654;

    color:white;

    cursor:pointer;
}

.login-btn:hover{

    background:#555;
}